[submodule "order_aggregator_processing/libraries/onedollar-unistroke-recognizer"]
	path = order_aggregator_processing/libraries/onedollar-unistroke-recognizer
	url = ../../nok/onedollar-unistroke-recognizer.git
[submodule "gra_processing/libraries/onedollar-unistroke-recognizer"]
	path = gra_processing/libraries/onedollar-unistroke-recognizer
	url = ../../nok/onedollar-unistroke-recognizer.git
